.switcher-list {
  margin-bottom: 10px;
}

.switcher-item {
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 15px 5px 5px;
  font-size: 0.7em;
}

.switcher-item p{
  display: inline-block;
}

.switcher-item img{
  width: 35px;
  margin-right: 10px;
}

.switcher-item-checked {
  background: #2c8b57;
  color: #fff;
  transition: 0.5s all;
}

.switcher-item-unchecked {
  background: #293246;
  color: rgb(161, 173, 201);
  transition: 0.5s all;
}
.switcher-item-unchecked:hover {
  opacity: 1;
}

.switcher-item-active {
  border-top: 1px solid rgb(161, 173, 201);
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 15px 1px #293246;
}

.switcher-item-inactive {
  border-top: 1px solid #16191f;
}


@media (max-width: 768px) {
  .switcher-item {
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 15px 5px 5px;
    font-size: 0.9em;
    width: 70px;
  }
  .switcher-item img{
    width: 55px;
    margin-right: 0;
  }
  .switcher-item p{
    display: none;
  }
  .switcher-item-checked {
    background: #2c8b57;
    color: #fff;
    transition: 0.5s all;
  }
  
  .switcher-item-unchecked {
    background: #293246;
    color: rgb(161, 173, 201);
    transition: 0.5s all;
  }
  .switcher-item-unchecked:hover {
    opacity: 1;
  }
  .switcher-item-active {
    border-top: 1px solid rgb(161, 173, 201);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 15px 1px #293246;
  }
}

@media (max-width: 480px) {
  .switcher-item {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 0.9em;
    width: 70px;
    text-align: center;
  }
  .switcher-item p{
    display: none;
  }
  .switcher-item-checked {
    background: #2c8b57;
    color: #fff;
    transition: 0.5s all;
  }
  
  .switcher-item-unchecked {
    background: #293246;
    color: rgb(161, 173, 201);
    transition: 0.5s all;
  }
  .switcher-item-unchecked:hover {
    opacity: 1;
  }
  .switcher-item-active {
    border-top: 1px solid rgb(161, 173, 201);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 15px 1px #293246;
  }
}
